.user-product {
  .user-live-product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .user-live-product-list {
      display: flex;
      width: calc(50% - 10px);
    }
  }
}

.bid-product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  .live-product-edit {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }
} 

@media (max-width: 700px) {
  .user-product {
    .user-live-product {
      display: block;
      .user-live-product-list {
        width: 100%;
      }
    }
  }
}
