.registration-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
  .register-title {
    h3 {
      font-size: 30px;
      color: #000;
      font-weight: 500;
      margin-bottom: 15px;
    }
  }
  .registration-text {
    display: flex;
    flex-direction: row;
    span {
      display: block;
      font-size: 20px;
    }
    .registration-login {
      font-weight: bold;
      padding-left: 10px;
      font-size: 20px;
      color: #000;
    }
  }
}