.pide-product {
  .user-pide-product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .user-pide-product-list {
      display: flex;
      width: calc(50% - 10px);
    }
  }
}

.awaiting-product {
  .button-success {
    border: 1px solid #3498db;
    margin-top: 10px;
    padding: 5px 10px;
    background: transparent;
    border-radius: 5px;
    font-size: 14px;
    width: 120px;
    color: #3498db;
  }
  .button-cancel {
    border: 1px solid #c62828;
    margin-top: 10px;
    padding: 5px 10px;
    background: transparent;
    border-radius: 5px;
    font-size: 14px;
    width: 120px; 
    color: #c62828;
  }
}

.cardProduct {
  .purchases_img {
    width: 150px;
    margin-right: 25px;
    img {
      display: block;
      width: 100%;
    }
  }
  p.header_blue {
    margin-bottom: 0;
  }
}
.purchases_content_bottom {
  .button-payment {
    margin-top: 0;
  }
}

@media (max-width: 1200px) {
  .purchases_img_block {
    display: block !important;
    .purchases_img {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    .purchases_content {
      width: 100%;
    }
  }
}
@media (max-width: 992px) {
  .card-product {
    h3 {
      font-size: 20px;
    }
  }
  .purchases_content {
    span,p {
      font-size: 12px;
    }
  }
  .purchases_img_block {
    .purchases_img {
      margin-bottom: 0;
    }
    .purchases_content {
      padding: 15px;
    }
  }
  .purchases_content_bottom {
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .pide-product {
    .user-pide-product {
      display: block;
      .user-pide-product-list {
        width: 100%;
      }
    }
  }
}
@media (max-width: 380px) {
  .purchases_content_block {
    display: block;
    margin-bottom: 12px;
    p {
      width: 100%;
      margin-bottom: 0;
    }
  }
}