.big-{
  border: 1px solid #3498db;
  border-radius: 5px;
  background: transparent;
  overflow: hidden;
  position: relative;
  transition: 0.8s;
  height: 40px;
  margin-left: 15px;
  span {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 16px;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    bottom: 0;
    z-index: 0;
    border-radius: 50% 50% 0 0;
    transition: 0.8s;
  }
  &:hover {
    color: #fff;
    &::before {
      height: 180%;
    }
  }
}
