.error-change-password {
  font-size: 16px;
  font-weight: 500;
  color: red;
}

.about-img {
  width: 100%;
}

@media (min-width: 992px) {
  .about-top-img,
  .about-bottom-img {
    width: 50%;
    max-width: none;
  }
}