@media (max-width: 960px) {
  .user-registration {
    background: top left / 380px no-repeat
        url('../../assets/images/Registration/left_bg.png'),
      bottom right / 300px no-repeat
        url('../../assets/images/Registration/right_bg.png');
    .registration-left-bg {
      width: 100%;
      margin-left: 20px;
      padding-top: 50px;
      max-width: 250px;
      .registration-image-title {
        font-size: 18px;
      }
      .registration-image-subtitle {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 767px) {
  .user-registration {
    padding: 80px 0;
  }
  .registration-title {
    margin-top: 0 !important;
  }
}
@media (max-width: 768px) {
  .user-registration {
    /*background: top left / 220px no-repeat
        url('../../assets/images/Registration/left_bg.png'),
      bottom right / 220px no-repeat
        url('../../assets/images/Registration/right_bg.png');*/
    background: #fff !important;
    .registration-left-bg {
      max-width: 200px;
      width: 100%;
      padding-top: 20px;
      .registration-image-title {
        font-size: 18px;
      }
      .registration-image-subtitle {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 540px) {
  .user-registration {
    /*background: top left / 180px no-repeat
        url('../../assets/images/Registration/left_bg.png'),
      bottom right / 180px no-repeat
        url('../../assets/images/Registration/right_bg.png');*/
    .registration-left-bg {
      width: 100%;
      padding-top: 20px;
      margin: 0 auto 60px;
      .registration-image-title {
        font-size: 14px;
        color: #000;
      }
      .registration-image-subtitle {
        font-size: 12px;
        color: #000;
      }
    }
  }
}
