.user-registration {
  background: top left / 480px no-repeat
      url('../../assets/images/Registration/left_bg.png'),
    bottom right / 400px no-repeat
      url('../../assets/images/Registration/right_bg.png');
  padding-bottom: 140px;
  background-color: #fff !important;
  .registration-left-bg {
    max-width: 360px;
    width: 100%;
    margin-left: 50px;
    text-align: center;
    padding-top: 50px;
    .registration-image-title {
      font-size: 22px;
      color: #fff;
      font-weight: 700;
    }
    .registration-image-subtitle {
      font-size: 16px;
      color: #fff;
      font-weight: 500;
    }
  }
  .registration-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    .register-user-check {
      width: 100%;
      .error-text {
      }
      .text-access-low {
        padding-left: 10px;
        margin-top: -5px;
      }
    }
    .success-request {
      font-size: 24px;
      font-weight: 500;
      width: 100%;
    }
    .registration-button {
      width: 100%;
      button {
        display: block;
        width: 100%;
        background: #0288d1;
        box-shadow: 0 5px 6px #00000029;
        border-radius: 5px;
        color: #fff;
        border: none;
        font-size: 17px;
        font-weight: bold;
        height: 44px;
        padding: 0;
        transition: all 0.3s ease;
        &:hover {
          background-color: #005588;
        }
      }
    }
    .input-text {
      width: 100%;
      .registration-input {
        margin-bottom: 22px;
        &:last-child {
          margin-bottom: 40px;
        }
      }
      input {
        width: 100%;
        padding: 6px 15px;
        border-radius: 5px;
        border: 1px solid #000;
        letter-spacing: 1px;
        font-size: 17px;
        color: #707070;
        margin: 0;
        &:focus {
          border: 1px solid #0288d1;
        }
      }
      span {
        display: inline-block;
      }
    }
  }
}
.input-helper {
  position: relative;
  display: inline-block;
  &:before {
    content: '';
    display: block;
    position: absolute;
  }
}
.input-helper--checkbox {
  padding-left: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  a {
    color: #4e83b1;
  }
  &:before {
    margin-top: -6.5px;
    top: 50%;
    left: 0;
    width: 13px;
    height: 13px;
    border: 1px solid #222;
  }
}
input[type='checkbox'] {
  display: none;
  &:checked + label:before {
    background-image: url('../../assets/images/icon/correct.png');
    background-size: 10px;
    background-position: center center;
  }
}
