// Help Center Style.

.help-center {
  &_content {
    padding: 80px 0;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
  h3 {
    font-size: 36px;
    font-weight: bold;
  }
  &-list {
    padding: 60px 0;
  }
  &-block {
    .help-title {
      font-size: 24px;
      color: #000;
      font-weight: 500;
      cursor: pointer;
      margin-bottom: 10px;
      &:hover {
        color: #3d90ce;
      }
    }
    .card {
      font-size: 18px;
      padding: 20px;
      margin-bottom: 30px;
      box-shadow: none;
      ul {
        padding-left: 20px;
        li {
          list-style: initial;
          font-size: 18px;
        }
      }
    }
  }
  .payment_Icon {
    width: 100px;
    height: 35px;
  }
}

@media (max-width: 767px) {
  .help-center {
    &_content {
      padding: 40px 0 0;
    }
    h3 {
      margin-bottom: 0;
    }
    &-block {
      .help-title {
        font-size: 20px;
      }
      .card {
        font-size: 16px;
        line-height: 26px;
        ul {
          li {
            font-size: 16px;
            line-height: 26px;
          }
        }
        p {
          font-size: 16px;
          line-height: 26px;
        }
      }
    }
  }
}