.awaiting-product {
  .awaiting-banner {
    align-items: baseline;
  }
  .user-awaiting-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .user-awaiting-list {
      display: flex;
      width: calc(50% - 10px);
      margin-right: 20px;
      .bid-product-card {
        width: 100%;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

.bid-product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.16);
  margin: 20px 0;
  border-radius: 10px;
  .awaiting-product-edit {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    .bid-now {
      .addBid {
        &:hover {
          color: #40a9ff;
        }
      }
    }
  }
} 

.page-link {
  &:hover {
    background: transparent;
    color: #0056b3;
  }
}

@media (max-width: 767px) {
  .awaiting-product {
    .user-awaiting-block {
      display: block;
      .user-awaiting-list {
        width: 100%;
        margin-top: 25px;
      }
    }
  }
}
