.tab-navbar {
  margin-bottom: 30px;
  .tab-list {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    .tab-item {
      position: relative;
      font-size: 17px;
      color: #b1b1b1;
      background-color: #fff;
      padding: 0 15px;
      .ant-steps-item-icon {
        .ant-steps-icon {
          color: #b1b1b1;
          top: -4px;
        }
      }
      &:after {
        position: absolute;
        top: 16px;
        left: 100%;
        display: block;
        width: 9999px;
        height: 1px;
        background-color: #b1b1b1;
        content: '';
      }
      &.active,
      &.done {
        color: #1890ff;
        .ant-steps-item-icon {
          border-color: #1890ff;
          .ant-steps-icon {
            color: #1890ff;
          }
        }
      }
      &.done {
        &:after {
          background-color: #1890ff;
        }
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .tab-navbar {
    margin-bottom: 10px;
    .tab-list {
      .tab-item {
        font-size: 14px;
        .ant-steps-item-icon {
          display: none;
        }
        &:not(:last-of-type) {
          &:after {
            top: 12px;
          }
        }
      }
    }
  }
}
@media (max-width: 520px) {
  .tab-navbar {
    .tab-list {
      .tab-item {
        padding: 0 6px;
        width: 44px;
        height: 44px;
        .tab_item_name {
          display: none;
        }
        .ant-steps-item-icon {
          display: block;
        }
        &:not(:last-of-type) {
          &:after {
            top: 16px;
          }
        }
      }
    }
  }
}