.sign-out {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    p {
      font-size: 18px;
    }
    .sign-out-button {
      border: 1px solid #3498db;
      border-radius: 5px;
      background: transparent;
      overflow: hidden;
      position: relative;
      width: 120px;
      transition: 0.8s;
      height: 35px;
      margin: 0 15px;
      span {
        position: relative;
        z-index: 1;
        font-weight: 500;
        font-size: 16px;
        color: #3498db;
      }
      &:hover {
        background: #3498db;
        span {
          color: #fff;
        }
      }
    }
    
}
  
.out-btn {
        
}