.Profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .profile_name {
    height: 40px;
    border: 1px solid #e9ecef;
    background: #e9ecef;
    border-radius: 10px;
    padding-left: 15px;
    width: 300px;
    max-width: 100%;
  }
  .profile_submit {
    background: #0288d1;
    color: #fff;
    outline: none;
    border: 1px solid #0288d1;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    width: 140px;
    margin-top: 10px;
    text-align: center;
    transition: all .3s ease;
    &:hover {
      background-color: #005588;
    }
  }
}
.userSettings-container {
  min-height: calc(100vh - 300px);
}

@media (max-width: 767px) {
  .userSettings-container .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .Profile {
    .profile_name {
      width: 240px;
    }
  }
}
