// user Login Media Style.

@media (max-width: 960px) {
  .user-login {
    background: top left / 380px no-repeat
        url("../../assets/images/Registration/left_bg.png"),
      bottom right / 300px no-repeat
        url("../../assets/images/Registration/right_bg.png");
    background-color: #fff !important;
    .login-left-bg {
      width: 100%;
      margin-left: 20px;
      padding-top: 50px;
      max-width: 260px;
      .login-image-title {
        font-size: 18px;
      }
      .login-image-subtitle {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 860px) {
  .user-login {
    background: top left / 300px no-repeat
        url("../../assets/images/Registration/left_bg.png"),
      bottom right / 300px no-repeat
        url("../../assets/images/Registration/right_bg.png");
    .login-left-bg {
      max-width: 200px;
      width: 100%;
      padding-top: 20px;
      .login-image-title {
        font-size: 18px;
      }
      .login-image-subtitle {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 767px) {
  .user-login {
    padding: 80px 0;
    background: #fff !important;
  }
  .user-login .login-left-bg {
    display: none;
  }
  .login-title {
    margin-top: 0 !important;
  }
}

@media (max-width: 640px) {
  .user-login {
    /*background: top left / 180px no-repeat
        url("../../assets/images/Registration/left_bg.png"),
      bottom right / 180px no-repeat
        url("../../assets/images/Registration/right_bg.png");*/
    .login-left-bg {
      width: 100%;
      padding-top: 20px;
      margin: 0 auto 60px;
      .login-image-title {
        font-size: 14px;
        color: #000;
      }
      .login-image-subtitle {
        font-size: 12px;
        color: #000;
      }
    }
  }
}
