// user Login Style.

.user-login {
  background: top left / 480px no-repeat
      url("../../assets/images/Registration/left_bg.png"),
    bottom right / 400px no-repeat
      url("../../assets/images/Registration/right_bg.png");
  padding-bottom: 140px;
  background-color: #fff;
  .login-left-bg {
    max-width: 360px;
    width: 100%;
    margin-left: 50px;
    text-align: center;
    padding-top: 50px;
    .login-image-title {
      font-size: 22px;
      color: #fff;
      font-weight: 700;
    }
    .login-image-subtitle {
      font-size: 16px;
      color: #fff;
      font-weight: 500;
    }
  }
  .user-login-input {
    max-width: 450px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    input {
      width: 100%;
      padding: 0 15px;
      border-radius: 5px;
      border: 1px solid #000;
      letter-spacing: 1px;
      height: 40px;
      margin-bottom: 22px;
      &:focus {
        border: 1px solid #0288d1;
      }
    }
    .user-login-button {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      margin-top: 30px;
      button {
        display: block;
        width: 100%;
        background: #0288D1;
        box-shadow: 0 5px 6px #00000029;
        border-radius: 5px;
        color: #fff;
        border: none;
        font-size: 17px;
        font-weight: bold;
        height: 44px;
        padding: 0;
        transition: all .3s ease;
        &:hover {
          background-color: #005588;
        }
      }
    }
    .user-login-error {
      font-size: 16px;
      color: red;
    }
  }
}
