.politics {
  &_content {
    padding: 80px 0;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
  span {
    display: flex;
    font-size: 18px;
    margin: 60px 0;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .politics {
    &_content {
      padding: 40px 0;
    }
  }
}
