.unpide-product {
  .awaiting-banner {
    align-items: baseline;
  }
  .user-awaiting-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .user-awaiting-list {
      display: flex;
      width: calc(50% - 10px);
    }
  }
}

.bid-product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
  margin: 20px 0;
  border-radius: 10px;
  position: relative;
  padding-bottom: 50px;
  .awaiting-product-edit {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .unpide-product {
    .user-awaiting-block {
      display: block;
      .user-awaiting-list {
        width: 100%;
        margin-top: 25px;
      }
    }
  }
}
@media (max-width: 480px) {
  .userAuction_container {
    .nav-tabs {
      .nav-link {
        width: auto;
        padding: 0.5rem 0.8rem;
      }
    }
    .unpide-product {
      .awaiting-banner {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
      .container {
        padding: 0;
      }
    }
  }
}
