// Expected Page Style.
.expected_title {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
}
.expected_product {
  span {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    &:first-child {
      font-weight: bold;
    }
  }
}
.select {
  display: flex;
  flex-direction: row;
  background: #fff;
}
.selectItem {
  margin: 0 15px;
}
.selectItem select {
  padding: 10px;
  border: 1px solid #707070;
  border-radius: 5px;
}
.selectItem select option {
  font-weight: 400;
  font-size: 15px;
  color: #707070;
}
.selectItem:first-child {
  margin-left: 0;
}
.auction_item {
  margin-top: 20px;
}
.itemsFound {
  padding-top: 15px;
}
.foundItems {
  font-size: 16px;
  font-weight: 400;
}
.ejer {
  margin-right: 20px;
}
.ejer ul li {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  padding: 0 10px;
}

.AuctionItem {
  border: 1px solid #ccc;
  border-radius: 10px;
}
.AuctionItem img {
  width: 100%;
}
.AuctionItem h4 {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
}
.productPriceName {
  margin-left: 20px;
  margin-right: 100px;
}
.product {
  display: flex;
  flex-direction: column;
}
.product h6 {
  padding-top: 10px;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
}
.productPrice h6 {
  display: flex;
  flex-direction: row-reverse;
}
.productPrice h5 {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 10px;
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}
.timeLeft {
  margin-bottom: 15px;
}

.AllItems {
  background: #f4f6f7;
}

.productsImg {
  display: block;
  height: 200px;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  object-fit: cover;
}

.containerCard {
  border: 1px transparent;
  border-radius: 10px;
}

.page-link {
  &:hover {
    background: transparent;
    color: #0056b3;
  }
}