$menu-height: calc(100vh - 65px);
$menu-width: 100%;

.category_block {
  position: absolute;
  top: 65px;
  min-height: max-content;
  left: -($menu-width);
  transition: left 0.5s ease-in-out;
  z-index: 1000;
  overflow-y: auto;
  width: 100%;

  &.open {
    left: 0;
    height: calc(100vmax - 300px);
    transition: left 0.5s ease-in-out;
  }
  .full-list {
    width: 70%;
    background: transparent;
    height: $menu-height;
    float: left;
  }
  .list-block {
    border-top: 1px solid #fff;
    width: 30%;
    float: left;
    padding: 20px 0 25px;
    background: rgb(96, 201, 220);
    background: -moz-linear-gradient(
      top,
      rgba(96, 201, 220, 1) 0%,
      rgba(79, 174, 213, 1) 50%,
      rgba(61, 144, 206, 1) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(96, 201, 220, 1) 0%,
      rgba(79, 174, 213, 1) 50%,
      rgba(61, 144, 206, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(96, 201, 220, 1) 0%,
      rgba(79, 174, 213, 1) 50%,
      rgba(61, 144, 206, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60c9dc', endColorstr='#3d90ce',GradientType=0 );
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #fff;
    }
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #3d90ce;
    }
    .language_menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid #f3f3f3;
      .language_name {
        font-weight: 500;
        color: #fff;
        font-size: 22px;
        padding-left: 25px;
      }
      .language_img {
        margin-top: 10px;
        margin-right: 15px;
        img {
          margin: 0 7px;
        }
      }
    }
    .category {
      .category_name,
      .category-name-drop {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        font-weight: 700;
        text-align: left;
        &:hover {
          color: #fff;
        }
      }
      .arrow {
        margin-right: 25px;
        width: 10px;
        height: 10px;
      }
      .category_list {
        padding-left: 25px;
        .list_item {
          font-size: 18px;
          font-weight: 400;
          &:active {
            font-weight: bold;
          }
          .list_item_drop {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            .arrow {
              width: 10px;
              height: 10px;
              margin-left: 100px;
            }
            .link_item {
              font-size: 20px;
              font-weight: 400;
              color: #fff;
              .nav-link {
                padding-top: 5px;
                padding-bottom: 5px;
              }
            }
            a {
              font-size: 20px;
              font-weight: 400;
              color: #fff;
              width: 220px;
            }
            p {
              font-size: 20px;
              font-weight: 400;
              color: #fff;
              width: 220px;
            }
          }
          .drop_first {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            font-size: 16px;
            font-weight: 400;
            color: #fff;
            cursor: pointer;
            .child_drop {
              display: flex;
              justify-content: space-between;
              color: #fff;
              .arrow {
                width: 10px;
                height: 10px;
              }
              .drop_second {
                font-weight: 400;
                margin-left: 50px;
                color: #fff;
                cursor: pointer;
              }
            }
          }
          .drop_first_none {
            display: none;
          }
          .arrow {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
    .about-us {
      height: 30px;
      border-bottom: 1px solid #fff;
      margin-bottom: 10px;
      width: 50%;
      .about-us-text {
        text-transform: uppercase;
        font-size: 18px;
        color: #fff;
        font-weight: 700;
        &:hover {
          color: #000;
        }
      }
    }
    .contact-us {
      border-bottom: 1px solid #fff;
      width: 50%;
      .contact-us-text {
        text-transform: uppercase;
        font-size: 18px;
        color: #fff;
        font-weight: 700;
        &:hover {
          color: #000;
        }
      }
    }
  }
}

.category_name,
.category-name-drop {
  height: 50px;
  align-items: center;
  padding-top: 0;
  display: inline-flex;
  margin-bottom: 0;
  padding-left: 25px;
}

.category_list_none {
  display: none;
}

.drop_second_none {
  display: none;
}

.drop_second {
  font-weight: 400;
  margin-left: 20px;
  color: #fff;
  cursor: pointer;
}

.link_item {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

#category_block_none {
  left: -340px;
  visibility: hidden;
  animation: left_menuNone 1s;
}

.gorcnker-block {
  margin-left: 50px;
  .gorcnker-text {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    &:hover {
      color: #000;
    }
  }
}

.sidenav-category {
  .ant-menu-root.ant-menu-vertical,
  .ant-menu-root.ant-menu-vertical-left,
  .ant-menu-root.ant-menu-vertical-right,
  .ant-menu-root.ant-menu-inline {
    background: transparent;
    color: #fff;
  }

  .ant-menu-sub.ant-menu-inline,
  .ant-menu-submenu > .ant-menu {
    background: transparent;
    background-color: transparent;
  }

  .category-title {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
  }

  .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
  }

  .ant-menu-sub.ant-menu-inline {
    background: rgb(96, 201, 220);
  }

  .ant-menu-submenu > .ant-menu {
    background-color: transparent !important;
  }

  .ant-menu-sub.ant-menu-inline > .ant-menu-item {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
  }

  .ant-menu-submenu-arrow {
    display: none !important;
  }

  .ant-menu-item a {
    color: #fff !important;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: transparent !important;
  }
  .ant-menu-item:active,
  .ant-menu-submenu-title:active {
    background-color: transparent !important;
  }

  .ant-menu-vertical .ant-menu-item::after,
  .ant-menu-vertical-left .ant-menu-item::after,
  .ant-menu-vertical-right .ant-menu-item::after,
  .ant-menu-inline .ant-menu-item::after {
    border: none;
  }
}

.menu-color {
  .ant-menu-item-group-list .ant-menu-item,
  .ant-menu-item-group-list .ant-menu-submenu-title {
    color: #fff !important;
  }
}
.category_block.open {
  height: auto;
}

@media (max-width: 760px) {
  .category_block {
    .list-block {
      width: 100%;
    }
  }
}
