// user Auction Style.

@media (min-width: 360px) and (max-width: 767px) {
  .userAuction_container {
    .awaiting_img {
      width: 100%;
    }
    .awaiting_content {
      width: 100%;
    }
  }
  .tabTitle {
    font-size: 12px;
  }
}
.cardProduct {
  box-shadow: 0 3px 6px #00000029;
}

.addBtn {
  width: 230px;
  height: 40px;
}

.userAuction_container {
  .AddLot {
    display: block;
    width: 100%;
    height: 100%;
    background: #0288d1;
    box-shadow: 0 5px 6px #00000029;
    opacity: 1;
    border-radius: 10px;
    letter-spacing: 0.22px;
    line-height: 38px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    span {
      font-weight: bold;
    }
    transition: all .3s ease;
    &:hover {
      background-color: #005588;
    }
  }
  .productImg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px;
  }
  .awaiting_img {
    height: 150px;
    min-width: 150px;
  }
}
.card-product {
  padding: 30px 15px;
  .no_product_text {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }
}

@media (max-width : 767px) {
  .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
      width: 120px;
    }
}
@media (max-width : 480px) {
  .userAuction_container {
    .nav-tabs {
      .nav-link {
        width: auto;
        padding: .5rem 0.8rem;
      }
    }
    .awaiting-product {
      .awaiting-banner {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
      .container {
        padding: 0;
      }
    }
  }
}

@media (min-width : 768px) {
  .userAuction_container {
    .tabTitle {
      width: 140px;
    }
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
      width: 140px;
    }
  }
}

@media (min-width: 1200px) {
  .awaiting_img {
    height: 150px;
    min-width: 150px;
    width: 200px;
  }
}
