.suggest_items {
  .suggest_items_text {
    color: #3d90ce;
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 500;
    padding: 15px 0;
  }
  span {
    display: block;
    font-size: 18px;
    color: #000;
    float: left;
  }
}
