// Product Last Style.

.productlive-container {
  .addFav {
    background: #ffffff;
    border: 1px solid #0288d1;
    border-radius: 5px;
    opacity: 1;
    color: #0288d1;
    width: 120px;
    font-size: 11px;
  }
  .addBid {
    background: #0288d1;
    border-radius: 5px;
    opacity: 1;
    color: #ffffff;
    width: 120px;
    font-size: 11px;
  }

  .addBid:hover,
  .addBid:active,
  .addBid:focus {
    color: #ffffff;
    outline: none;
  }

  .addFav:hover,
  .addFav:active,
  .addFav:focus {
    color: #0288d1;
    outline: 0 auto;
  }
}