// Add Item Style.

-container {
  -card {
    z-index: 1;
  }
}
.finishBtn {
  background: #0288d1;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  opacity: 1;
  transition: all .3s ease;
  &:hover {
    border: 1px solid transparent;
    background-color: #005588;
  }
}
.category-status {
  .ant-steps-item-icon {
    background: #000 !important;
  }
}
.addLot_finish {
  h3 {
    font-size: 20px;
    font-weight: bold;
  }
  p {
    font-size: 18px;
    font-weight: bold;
  }
  a {
    font-weight: bold;
    color: #fff;
  }
}
@media (max-width: 992px) {
  .addLot_finish {
    padding-top: 30px;
  }
}