// Item Compose Style.

/*.please-add-picture {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
  padding-left: 33px;
}*/
.please-add-picture {
  color: rgb(255, 0, 0);
}
.container {
  .form-group {
    margin-bottom: 0rem;
  }
}
.group-container {
  p {
    padding-left: 270px;
  }
}
.form-group {
  .group-conatiner {
    width: 100%;
    align-items: center;
  }
  .composer-selecter {
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    opacity: 1;
    height: 38px;
    width: 100%;
  }
  .label_title {
    font-weight: bold;
  }
}
.add-product-btn {
  border: 1px solid #3498db;
  border-radius: 5px;
  background: transparent;
  overflow: hidden;
  position: relative;
  transition: 0.8s;
  width: 150px;
  height: 40px;
  span {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 16px;
  }
  img {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 16px;
  }
  &:hover {
    color: #fff;
    background-color: #005588;
  }
}
.item-product {
  transition: 0.5s;
}
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-popper[data-placement^='top'],
.react-datepicker-popper[data-placement^='bottom'] {
  z-index: 1000;
}

.react-datepicker__input-container {
  input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  top: -4px;
}
