// Upload Images Style.

.upload-images {
  border: 1px solid #3498db;
  border-radius: 5px;
  background: transparent;
  overflow: hidden;
  position: relative;
  transition: 0.8s;
  padding: 8px 16px;
  span {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 16px;
    padding: 0 0 0 10px;
  }
  img {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 16px;
  }
  &:hover {
    background-color: #1890ff;
    span {
      color: #000;
    }
  }
}
.Keyimages {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: min-content;
}
.deleteBtn {
  background: #fff;
  opacity: 1;
  border-radius: 20px;
}
.editBtn {
  background: #fff;
  opacity: 1;
  border-radius: 20px;
}
.imageItem {
  background: transparent;
  opacity: 1;
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.imgUpload {
  width: 20px;
  height: 20px;
}
.UploadBtn {
  background: #fff;
  border: 1px solid #000000;
  border-radius: 5px;
  opacity: 1;
  display: flex;
  width: 155px;
}
.UploadBtn:hover {
  background-color: #3d90ce;
  border: 1px solid #fff;
}
.UploadBtntext {
  text-align: left;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.39px;
  color: #000000;
  opacity: 1;
}

@media (max-width: 767px) {
  .imageItem {
    width: 100px;
    height: 100px;
  }
}
