.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  &-inner {
    max-width: 480px;
    background: #fff;
    width: 100%;
    padding: 40px;
    position: relative;
    .close-btn {
      position: absolute;
      right: 15px;
      top: 15px;
      cursor: pointer;
      background-color: transparent;
      border: none;
    }
  }
}

@media (max-width: 520px) {
  .popup {
    &-inner {
      max-width: 350px;
      padding: 20px;
    }
  }
}
