// Payment Card Style.

.card-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0;
  margin: 0 auto;
  .card-img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin: 0 20px;
    img {
      max-width: 100%;
    }
  }
}

@media (max-width: 540px) {
  .card-block {
    .card-img-block {
      margin: 0 15px;
    }
  }
}