//  Contact Us Style.
.contactus-container {
  .contact-title {
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 0.44px;
    color: #000000;
    margin-bottom: 20px;
  }
  .contact-subtitle {
    text-align: center;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: 0;
    color: #707070;
    margin-bottom: 35px;
  }
}

.contact-input {
  position: relative;
  &:not(:last-of-type) {
    margin-bottom: 25px;
  }
  label {
    width: 200px;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    left: -160px;
    top: 0;
  }
  input,
  textarea {
    width: 250px;
    border: 1px solid #707070;
    border-radius: 5px;
    letter-spacing: 1px;
    padding: 0 10px;
    margin: 0 auto;
  }
  textarea {
    height: 130px;
    padding: 10px;
    resize: none;
  }
  input {
    height: 30px;
  }
}
.contact-info {
  margin: 0 auto;
  padding: 80px 15px;
  button {
    display: block;
    margin: 40px auto 0;
  }
}

@media (max-width: 767px) {
  .contact-input {
    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
    label {
      position: static;
      width: 250px;
      text-align: left;
      margin: 0 auto 5px;
    }
  }
}
