.radio {
  margin-top: 15px;
}
.userAddItem {
  padding-left: 15px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
}
.userAddItem input {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #4faed5;
  margin-left: 130px;
}
