// search Page Style.

.select {
  display: flex;
  flex-direction: row;
  background: #fff;
}
.selectItem {
  margin-top: 15px;
  margin-bottom: 15px;
  margin: 0 15px;
}
.selectItem select {
  padding: 10px;
  border: 1px solid #707070;
  border-radius: 5px;
}
.selectItem select option {
  font-weight: 400;
  font-size: 15px;
  color: #707070;
}
.selectItem:first-child {
  margin-left: 0;
}
.auction_item {
  margin-top: 20px;
}
.itemsFound {
  padding-top: 15px;
}
.foundItems {
  font-size: 16px;
  font-weight: 400;
}
.ejer {
  margin-right: 20px;
}
.ejer ul li {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  padding: 0 10px;
}

.AuctionItem {
  border: 1px solid #ccc;
  border-radius: 10px;
}
.AuctionItem img {
  width: 100%;
}
.AuctionItem h4 {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
}
.productPriceName {
  margin-left: 20px;
  margin-right: 100px;
}
.product {
  display: flex;
  flex-direction: row;
}
.product h6 {
  padding-top: 10px;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
}
.productPrice h6 {
  display: flex;
  flex-direction: row-reverse;
}
.productPrice h5 {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 10px;
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}
.timeLeft {
  margin-bottom: 15px;
}

.AllItems {
  background: #f4f6f7;
}

.founded_item {
  h4 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
  }
  &_info {
    span {
      font-size: 12px;
      font-weight: 400;
      color: #343a40;
      &:last-child {
        font-weight: bold;
      }
    }
  }
}