// user Purchases Style.

.addBtn {
  width: 230px;
  height: 40px;
}
.bidBtn {
  padding: 5px;
}
.Buybtn {
  background: #0288d1;
  border-radius: 5px;
}
.cardProduct {
  box-shadow: 0 3px 6px #00000029;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}
.button-payment {
  border: 1px solid #3498db;
  margin-top: 10px;
  padding: 5px 10px;
  background: transparent;
  border-radius: 5px;
  font-size: 14px;
  width: 100px;
  transition: all .3s ease;
  &:hover {
    color: #fff;
    background-color: #3498db;
  }
}
.purchases_content {
  width: calc(100% - 175px);
  h4 {
    font-weight: bold;
    font-size: 18px;
  }
  &_block {
    display: flex;
  }
  p {
    width: 185px;
    font-weight: 400;
    font-size: 14px;
  }
  span {
    font-size: 14px;
    font-weight: bold;
    color: #000;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .userPurchases-container {
    .purchases_img {
      width: 100%;
    }
    .purchases_content {
      width: 100%;
    }
  }
}
