.bids-product {
  .user-bids-product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .user-bid-product-list {
      display: flex;
      width: calc(50% - 10px);
    }
  }
}

.bid-product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  padding-bottom: 15px;
  .bid-product-edit {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    .user-product-text {
      display: flex;
      margin-left: 10px;
      p {
        width: 185px;
        font-size: 14px;
        font-weight: bold;
      }
      span {
        font-weight: 600;
        font-size: 12px;
        color: #000;
      }
    }
  }
  .bid-product-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    .product-icon {
      outline: none;
      border: none;
      background-color: transparent;
      img {
        display: block;
      }
    }
  }
}

.user-product-content {
  position: relative;
  width: 100%;
  padding: 5px;
  h4 {
    padding-top: 10px;
    // margin-bottom: 25px;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
    font-size: 18px;
  }
  .user-product-text {
    display: flex;
    margin-left: 10px;
    p {
      width: 185px;
      font-size: 14px;
      font-weight: bold;
    }
    span {
      font-weight: 600;
      font-size: 14px;
      color: #000;
    }
  }
  .user-product-edit {
    position: absolute;
    top: 10px;
    right: 10px;
    a {
      display: block;
      text-align: center;
    }
  }
}

.bid-now {
  display: flex;
  justify-content: flex-end;
  .addBid {
    border-radius: 5px;
    color: #fff;
    width: 160px;
    font-size: 16px;
    background: #0288d1;
    transition: all 0.3s ease;
    &:hover {
      background-color: #005588;
    }
  }
}

@media (max-width: 767px) {
  .bids-product {
    .user-bids-product {
      display: block;
      .user-bid-product-list {
        width: 100%;
      }
    }
  }
}

@media (min-width: 991px) {
  .bids-product {
    .purchases_img {
      width: 40%;
    }
  }
}
@media (max-width: 992px) {
  .bid-product-card {
    .bid-product-edit {
      .user-product-text {
        p {
          width: 160px;
        }
        span {
          font-size: 10px;
        }
      }
    }
  }
}
