// user Settings Style.

.profile-user-text {
  font-weight: 500;
}
.profile-user-text.active {
  background-color: #0288d1 !important;
}

.control {
  border-radius: 5px;
  height: 45px;
}

.cardShadow {
  box-shadow: 0px 5px 35px #00000033;
  border-radius: 10px;
  opacity: 1;
}

.btnNotificetion {
  color: #fff;
  outline: none;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  background: #007bff;
  border: 1px solid #007bff;
  width: 140px;
  border-radius: 5px;
  
}
