// header Style

.header {
  background: #60c9dc;
  background: -moz-linear-gradient(left, #60c9dc 0%, #4faed5 50%, #3d90ce 100%);
  background: -webkit-linear-gradient(
    left,
    #60c9dc 0%,
    #4faed5 50%,
    #3d90ce 100%
  );
  background: linear-gradient(to right, #60c9dc 0%, #4faed5 50%, #3d90ce 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60c9dc', endColorstr='#3d90ce',GradientType=1 );
  .register_link {
    display: flex;
    align-items: center;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .menu-button {
    cursor: pointer;
    span {
      display: block;
      width: 34px;
      height: 2px;
      background: #fff;
      &:not(:last-of-type) {
        margin-bottom: 8px;
      }
    }
  }
  .menu-text {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #ffffff;
    p {
      color: #fff;
      font-size: 18px;
      padding-top: 4px;
    }
  }
}

.search {
  width: 30px;
  height: 30px;
  fill: #ffffff;
}

.controls {
  width: 50px;
  height: 30px;
  animation: search 2s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
}

.controls::placeholder {
  color: #ffffff;
}

.categories {
  color: #000;
  font-size: 22px;
  font-weight: 400;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5px;
  cursor: pointer;
}

.logoImg {
  width: 150px;
}

.register {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  &:hover {
    color: #fff;
    opacity: 0.7;
  }
}

.reg_span {
  font-weight: 300;
  font-size: 21px;
  color: #fff;
}

.btnDrawer {
  background: transparent;
  border: none;
  outline: none;
}

.btn-icon {
  background: transparent;
  outline: none;
}

.btnLangiage {
  background: transparent;
  outline: none;
}

.AddItem {
  display: inline-block;
  width: 170px;
  height: 46px;
  line-height: 41px;
  text-align: center;
  border: 2px solid #fff;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  background: none;
  transition: all 0.3s ease;
  &:hover {
    background-color: #fff;
    color: #3d90ce;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    font-size: 20px;
    text-align: center;
  }
  .btn-block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .btn-item {
      background-color: #0288d1;
      margin-top: 15px;
      border-radius: 10px;
      cursor: pointer;
      span {
        color: #fff;
        padding: 8px 40px;
        font-family: 'Montserrat';
        display: block;
        font-size: 18px;
      }
    }
  }
}

@keyframes search {
  0% {
    width: 50px;
  }
  100% {
    width: 200px;
  }
}

@media only screen and (max-width: 767px) {
  .controls {
    width: 50px;
    height: 30px;
    animation: search 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
  }
  .controls::placeholder {
    color: #ffffff;
  }
  .users-right {
    display: flex;
    flex-flow: initial;
  }

  @keyframes search {
    0% {
      width: 50px;
    }
    100% {
      width: 95%;
    }
  }
}

@media (min-width: 768px) {
  .header-right {
    margin: 0 10px;
  }
  .users-right {
    display: flex;
    flex-flow: initial;
  }
}

@media (max-width: 1199px) {
  .header {
    .register_link {
      .reg-icon {
        width: 20px;
      }
    }
    .register {
      font-size: 12px;
    }
    .reg_span {
      font-size: 12px;
    }
    .logoImg {
      width: 120px;
    }
    .AddItem {
      width: 30px;
      height: 30px;
      line-height: 10px;
      font-size: 18px;
      border-radius: 20px;
      position: relative;
      .add_icon {
        position: absolute;
        top: 1px;
        left: 6px;
      }
    }
  }
}
@media (max-width: 991px) {
  .header {
    .search-block {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .header {
    padding: 10px 0;
    .navbar-custom {
      padding: 0 10px !important;
    }
    .logoImg {
      width: 80px;
    }
  }
  .menu {
    .menu-button {
      span {
        width: 32px;
        height: 1px;
        &:not(:last-of-type) {
          margin-bottom: 6px;
        }
      }
    }
  }
}
@media (max-width: 520px) {
  .menu_navbar {
    width: auto !important;
  }
  .header {
    .logoImg {
      width: 70px;
    }
  }
  .logo {
    width: auto !important;
    margin-left: 15px;
  }
  .content {
  }
}
