.about-img {
  width: 100%;
  max-width: 600px;
}
.about-info {
  padding: 80px 20px;
  max-width: 800px;
  width: 100%;
  h3 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
}
.about-us-soc {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  ul {
    li {
      display: inline-block;
      margin: 0 15px;
      a {
        display: inline-block;
        width: 25px;
        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}