// Edit Item Style.

.edit_item_block {
  label {
    font-size: 16px;
    font-weight: 700;
  }
  .form-group {
    margin-bottom: 20px !important;
  }
}

.imageItem {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}

.fileUploader {
  .fileContainer {
    background: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0;
    .chooseFileButton {
      width: 100%;
      background: #fff;
      border: 1px solid #3498db;
      border-radius: 30px;
      color: #3498db;
      font-weight: 300;
      font-size: 14px;
      margin: 0;
      padding: 12px 16px;
      transition: all 0.2s ease-in;
      cursor: pointer;
      outline: none;
      &:hover {
        color: #fff;
        background: #3498db;
      }
    }
  }
}

.imgUpload {
  width: 20px;
  height: 20px;
}
.text-upload {
  color: #fff;
}

@media (max-width: 992px) {
  .imageItem {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 767px) {
  .imageItem {
    width: 56px;
    height: 56px;
    margin: 5px !important;
  }
  .edit_item_block {
    label {
      font-size: 14px;
      line-height: 18px;
      padding: 0 !important;
    }
  }
}
@media (max-width: 575px) {
  .upload_image_block {
    display: block !important;
    margin-top: 0 !important;
    & > div {
      padding: 0 !important;
    }
  }
  .fileUploader {
    margin-top: 30px;
  }
}
