.add_reset {
  background: #0288d1 0 0 no-repeat padding-box;
  box-shadow: 0 5px 6px #00000029;
  border-radius: 5px;
  opacity: 1;
  color: #ffffff;
}
.forgot_content {
  padding: 100px 20px;
  margin: 0 auto;
  text-align: center;
  .card {
    padding: 30px;
    box-shadow: none;
    h4 {
      font-size: 30px;
      font-weight: 500;
    }
    p {
      font-weight: 400;
    }
    .form-group {
      margin: 0;
    }
    .button-click {
      span {
        padding: 0 15px;
      }
    }
  }
}

@media (max-width: 767px) {
  .forgot-password {
    padding: 0;
    background-color: transparent;
  }
  .forgot_content {
    padding: 80px 20px;
    .card {
      padding: 30px 20px;
      h4 {
        font-size: 24px;
        line-height: 32px;
      }
      p {
        font-size: 14px;
        line-height: 21px;
      }
      .button-click {
        width: 100%;
        max-width: 260px;
        span {
          display: block;
          font-size: 13px;
          padding: 0;
          width: 100%;
        }
      }
    }
  }
}