// All Items Style.

.select {
  display: flex;
  flex-direction: row;
  background: #fff;
}
.selectItem {
  margin-top: 15px;
  margin-bottom: 15px;
  margin: 0 15px;
}
.selectItem select {
  padding: 10px;
  border: 1px solid #707070;
  border-radius: 5px;
  width: 130px;
}
.selectItem select option {
  font-weight: 400;
  font-size: 15px;
  color: #707070;
}
.auction_item {

  margin: 30px 0;
  padding-top: 40px;
  padding-bottom: 60px;
}
.itemsFound {
  padding-top: 15px;
}
.foundItems {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}
.ejer {
  margin-right: 20px;
}
.ejer ul li {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  padding: 0 10px;
}

.AuctionItem {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: none;
}
.AuctionItem img {
  width: 100%;
}
.AuctionItem h4 {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
}
.productPriceName {
  margin-left: 20px;
  margin-right: 100px;
}
.product {
  display: flex;
  flex-direction: row;
}
.product h6 {
  padding-top: 10px;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
}
.productPrice h6 {
  display: flex;
  flex-direction: row-reverse;
}
.productPrice h5 {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 10px;
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}
.timeLeft {
  margin-bottom: 15px;
}

.product_img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 220px;
  object-fit: cover;
}

.AllItems {
  background: #f4f6f7;
}

.expect-block {
  background: #ffffff;
  border-radius: 10px;
  opacity: 1;
  height: 100%;
  border: 1px solid #707070;
}

.group-filter {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-group {
  margin: 10px 0 0;
  .filter-selecter {
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 38px;
    padding: 0 10px;
    cursor: pointer;
  }
}

.category-card {
  margin-top: 10px;
}


.page-link {
  &:hover {
    background: transparent;
    color: #0056b3;
  }
}
@media (max-width: 767px) {
  .auction_item {
    margin: 0;
  }
  .AllItems_container {
    padding: 0;
  }
  .categories_title {
    font-size: 20px;
  }
  .categories_navigation {
    display: block !important;
    .foundItems {
      margin-bottom: 15px;
    }
  }
}