// Item Category

.category_block_add {
  position: relative;
  left: 0;
  height: max-content;
  width: 100%;
  background-color: #fff;
  z-index: 998;
  .category-banner {
    color: #000;
    padding-top: 10px;
    font-size: 24px;
    text-align: start;
    font-weight: bold;
  }
  .category-item {
    .ant-menu {
      border: none;
      &-item,
      &-submenu {
        &:hover {
          background-color: #e6f7ff;
        }
        div,
        a {
          color: #000;
          font-size: 16px;
        }
      }
    }
    .ant-menu-submenu-vertical
      > .ant-menu-submenu-title
      .ant-menu-submenu-arrow,
    .ant-menu-submenu-vertical-left
      > .ant-menu-submenu-title
      .ant-menu-submenu-arrow,
    .ant-menu-submenu-vertical-right
      > .ant-menu-submenu-title
      .ant-menu-submenu-arrow,
    .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow {
      display: none;
    }
    .ant-menu-item-group-title {
      padding: 0 !important;
    }
  }
}
@media (max-width: 992px) {
  .category_block_add {
    .category-banner {
      font-size: 20px;
    }
  }
}
@media (max-width: 767px) {
  .category_block_add {
    .category-banner {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .category-item {
    .ant-menu-submenu-title {
      padding: 0 15px !important;
      font-size: 14px !important;
      height: 32px !important;
      line-height: 32px !important;
    }
    .ant-menu-sub {
      .ant-menu-submenu-title {
        padding: 0 25px !important;
      }
    }
  }
}
