// footer Component Style.

.footer {
  background: #60c9dc;
  background: -moz-linear-gradient(left, #60c9dc 0%, #4faed5 50%, #3d90ce 100%);
  background: -webkit-linear-gradient(
    left,
    #60c9dc 0%,
    #4faed5 50%,
    #3d90ce 100%
  );
  background: linear-gradient(to right, #60c9dc 0%, #4faed5 50%, #3d90ce 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60c9dc', endColorstr='#3d90ce',GradientType=1 );
  padding: 40px 0;
  .container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    .leftBlock {
      display: flex;
      flex-direction: column;
      width: 33%;
      .left-block-img {
        width: 100px;
      }
      .leftBlock_text {
        font-size: 16px;
        color: #fff;
        padding-top: 20px;
        line-height: 25px;
      }
      .centerBlock_1 {
        flex-direction: column;
        align-items: center;
        width: 70%;
        display: none;
        .centerBlock_menu_1 {
          li {
            padding-top: 10px;
            a {
              font-weight: 600;
              color: #fff;
              font-size: 16px;
            }
          }
        }
      }
      .leftBlock_contact {
        display: flex;
        flex-direction: row;
        .leftBlock_instagram {
          margin: 0 20px;
        }
        img {
          width: 24px;
        }
      }
    }
    .centerBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      .centerBlock_menu {
        li {
          margin-bottom: 10px;
          a {
            font-weight: 400;
            color: #fff;
            font-size: 16px;
          }
        }
      }
    }
    .rightBlock {
      display: flex;
      flex-direction: column;
      width: 33%;
      .rightBlock_menu {
        display: none;
      }
      h3 {
        color: #fff;
        font-size: 24px;
        text-align: start;
        font-weight: bold;
      }
      .left-block-contact-us-block {
        display: flex;
        flex-direction: column;
        .left-block-img {
          height: 25px;
        }
        .left-block-contact-us {
          display: flex;
          flex-direction: row;
          p {
            padding-left: 15px;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
          }
          span {
            display: block;
            color: #fff;
            font-size: 16px;
            margin-left: 10px;
          }
        }
      }
    }
    .Block_title {
      color: #fff;
      font-size: 28px;
      font-weight: bolder;
      font-style: oblique;
    }
  }
  .social_Icon {
    width: 20px;
    height: 20px;
  }
  .payment_Icon {
    width: 66px;
    height: 32px;
  }
  .logoImg {
    width: 160px;
  }
}
.mobile_social_icons {
  img {
    width: 24px;
  }
}

@media (max-width: 992px) {
  .footer {
    .container {
      max-width: 100%;
      .leftBlock {
        width: calc(50% - 30px);
        margin-right: 60px;
      }
      .centerBlock {
        // display: none;
        flex-direction: initial;
      }
      .rightBlock {
        width: calc(50% - 30px);
      }
    }
    .logoImg {
      width: 135px;
    }
  }
}

@media (max-width: 540px) {
  .footer {
    background: #60c9dc;
    .container {
      display: block;
      .leftBlock {
        width: 100%;
        .leftBlock_contact {
          margin-bottom: 40px;
        }
      }
      .rightBlock {
        display: block;
        width: 100%;
      }
    }
  }
}
