.delete-favorites-modal-{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.button_close {
  margin: 0 auto;
  width: 120px;
  color: #fff;
  border: 1px solid #3d90ce;
  background: #3d90ce;
  &:hover {
    color: #fff;
  }
}
