// Product Page Style.

.product_container {
  background-color: #f4f6f7;
}
.product_list_block {
  div {
    &:last-child {
      span {
        font-weight: bold;
      }
    }
  }
}
.product_description {
  font-size: 14px;
  margin-top: 15px;
  font-weight: 400;
}
.product_more_info {
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  p {
    font-size: 14px;
    font-weight: 400;
  }
}

.add-default {
  display: none;
}

.step-btn {
  width: 150px;
}

.bid-button,
.active-bid-button {
  width: 130px;
}

.bid-button,
.active-bid-button,
.step-btn {
  border: 1px solid #3498db;
  border-radius: 5px;
  background: #3498db;
  overflow: hidden;
  color: #fff;
  position: relative;
  transition: all 0.3s ease;
  height: 40px;
  span {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 14px;
  }
  &:hover {
    color: #fff;
    background-color: #005588;
  }
  &:last-child {
    margin-left: 10px;
  }
  &.bid-button {
    cursor: auto;
    opacity: 0.5;
    &:hover {
      background: #3498db;
    }
  }
}
.productlive-container {
  .card {
    box-shadow: none;
    border: none;
    border-radius: 0;
  }
}
.favorites-button {
  margin-right: 15px;
}
.favorites-button,
.big-button {
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  height: 40px;
  border: none;
  padding: 0 10px;
  margin-left: 10px;
  span {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 16px;
  }
  &:hover {
    color: #fff;
    background-color: #005588;
  }
}

.form-group {
  span {
    font-size: 18px;
  }
}

.product-slider {
  display: flex;
  margin-bottom: 30px;
  div {
    width: 100%;
  }
}

.slick-name {
  &:hover {
    transform: scale(1.5);
  }
}

@keyframes imgZoom {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(10, 10);
  }
  100% {
    transform: scale(1, 1);
  }
}

.addFav {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #0288d1;
  border-radius: 5px;
  opacity: 1;
  color: #0288d1;
  width: 120px;
  font-size: 11px;
}

.addBid {
  background: #0288d1 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  color: #ffffff;
  width: 120px;
  font-size: 11px;
}

.addDefault {
  display: none;
}
.addBid:hover,
.addBid:active,
.addBid:focus {
  color: #ffffff;
  outline: none;
}

.addFav:hover,
.addFav:active,
.addFav:focus {
  color: #0288d1;
  outline: 0 auto;
}
.firstImg {
  width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

// Converter Page.

.swap {
  cursor: pointer;
}

.set_request {
  padding-top: 20px;
  font-size: 18px;
  color: #3498db;
}
.product_info {
  h3 {
    font-size: 26px;
    font-weight: bold;
  }
}
.your_move_text {
  font-weight: bold;
}

@media (max-width: 580px) {
  .product_container {
    .card {
      padding: 15px !important;
    }
  }
  .product_list_block {
    div {
      span {
        font-size: 12px;
      }
    }
  }
}
