.button-click {
  border: none;
  border-radius: 5px;
  background: #3498db;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
  height: 36px;
  color: #fff;
  padding: 0 10px;
  span {
    position: relative;
    z-index: 1;
    font-size: 14px;
    font-weight: 600;
  }
  &:hover {
    background: #005588;
  }
}
