// Start Lot Style.

.start-container {
    .about-img {
        width: 100%;
    }
    .about-us-soc {
        display: block;
        margin: 0 auto;
        text-align: center;
        ul {
          li {
            display: inline-block;
            margin: 0 15px;
          }
        }
    }
    .card-link {
          justify-content: flex-end;
    }
    .card-start {
        height: 100%;
    }
    .coming-title {
      color: #B48720;
    }
}


