html,
body {
  width: 100%;
  min-height: calc(100% - 200px);
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  background: #f4f6f7;
  overflow-x: hidden;
  font-size: 100%;
  color: #2b2b2b;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-container {
  height: 100%;
  min-height: calc(100vh - 300px);
}
.main_grey_content {
  background: #f4f6f7;
  padding: 50px 30px;
  min-height: calc(100vh - 300px);
}
.contactus-container,
.politics,
.help-center,
.forgot-password,
.about-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background: top left / 480px no-repeat
      url('assets/images/AboutUs/About_top.png'),
    bottom right / 400px no-repeat url('assets/images/AboutUs/About_under.png');
  background-color: #fff;
}
/*  */
@media (max-width: 1199px) {
  .contactus-container,
  .politics,
  .help-center,
  .forgot-password,
  .about-container {
    background: top left / 380px no-repeat
        url('assets/images/AboutUs/About_top.png'),
      bottom right / 300px no-repeat
        url('assets/images/AboutUs/About_under.png');
    background-color: #fff;
  }
}
@media only screen and (max-width: 768px) {
  .mobile-form {
    background: #3d90ce;
  }
  .mobile-form .search-block {
    height: 40px;
  }
  .mobile-form .search-block .search-animate-input .search-animate {
    width: 93%;
  }
  .contactus-container,
  .politics,
  .help-center,
  .forgot-password,
  .about-container {
    background: none;
    background-color: #fff;
  }
  .main_grey_content {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .AddItem {
    width: 140px;
  }
}
@media (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1400px;
  }
  .ant-drawer-left.ant-drawer-open .ant-drawer-content-wrapper {
    width: 420px !important;
  }
  .ant-drawer-title {
    text-align: center;
  }

  .AddItem {
    width: 180px;
  }
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Medium.ttf');
}
