.live_auction {
  .live_auction_text {
    margin-bottom: 50px;
  }
  .more_btn {
    background: #0288d1;
    font-size: 16px;
    color: #fff;
    padding: 8px 20px;
    box-shadow: 0 5px 6px #00000029;
    border-radius: 10px;
    transition: all .3s ease;
    &:hover {
      background-color: #005588;
    }
  }
}
