// user Login Title Style.

.login-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  h3 {
    font-size: 30px;
    color: #000;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .login-text {
    display: flex;
    flex-direction: row;
    span {
      display: block;
      font-size: 17px;
    }
    a {
      color: #000;
    }
    .login-subTitle {
      font-weight: 400;
      font-size: 20px;
    }
    .login-login {
      padding-left: 10px;
      font-weight: bold;
      font-size: 20px;
    }
  }
}

@media (max-width: 860px) {
  /*.user-login {
    padding: 100px 0;
  }
  .login-title {
    margin-top: 0;
  }*/
}