.user-product {
  display: flex;
  width: 100%;
  .user-product-img {
    margin: 10px;
    width: 150px;
    img {
      width: 100%;
    }
  }
  .user-product-content {
    position: relative;
    width: 100%;
    padding: 5px;
    line-height: 15px;
    h4 {
      padding-top: 10px;
      text-align: left;
      padding-left: 10px;
      font-weight: bold;
      font-size: 18px;
    }
    .user-product-text {
      display: flex;
      margin-left: 10px;
      p {
        width: 185px;
        font-weight: 400;
        font-size: 14px;
      }
      span {
        font-size: 12px;
        font-weight: bold;
        color: #000;
      }
    }
    .user-product-edit {
      position: absolute;
      top: 10px;
      right: 10px;
      a {
        display: block;
        text-align: center;
      }
    }
    .bid-now {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      .addBid {
        background: #ffffff;
        border-radius: 5px;
        border: 2px solid #0288d1;
        opacity: 1;
        color: #0288d1;
        width: 100px;
        font-size: 11px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .user-product {
    display: block;
    .user-product-img {
      width: 100%;
      margin: 0;
    }
  }
}
@media (max-width: 992px) {
  .user-product {
    .user-product-content {
      .user-product-text {
        p {
          width: 160px;
        }
        span {
          font-size: 12px;
        }
      }
    }
  }
}
@media (max-width: 380px) {
  .user-product {
    .user-product-content {
      .user-product-text {
        display: block;
        margin-bottom: 12px;
        p {
          width: 100%;
          margin-bottom: 3px;
        }
      }
    }
  }
}
